button {
    outline: none;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
}

input{
    outline: none;
    overflow: hidden;
}
iframe{
    display: block;
    overflow: hidden;
}

body{
    font-family: "Source Sans Pro", "Arial", sans-serif;
}

#main{
    width: 85%;
    margin: 5% auto;
}

.title{
    font-size: 50px;
    margin:0 20px 0 0;
    display: inline;
}


.figure{
    display: inline-block;
}
.figure:hover {
    cursor: pointer;
}


.myModal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.2;
    display: none;
}

.myPop {
    position: absolute;
    display: none;
}

.myPop-title {
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    color: #FFFFFF;
    background: #FFFFFF;
    border-radius: 10px 10px 0 0;
    margin: 0 0 -10px 0;
    padding: 0 0 20px 0;
    cursor: move;
}

.myPop-close {
    float: right;
    cursor: pointer;
    color: #123122;
}

.myPop-content {
/*    min-width: 400px;
    min-height: 200px;*/
    border-radius: 0 0 10px 10px;
    margin: 0;
    background: #FFFFFF;
    padding: 0;
    display: inline-block;
    text-align: center;

}


#myCanvas {
   /*position: absolute;*/
  /* text-align: center;*/
    /*padding: 5px 0 0 30px;*/
    background-image:url(../media/lined-paper.svg);
 /*   display: line-block;*/
}

.members {
    display: line-block;
}

.member {
    margin:20px 10px;
}

.btn {
    position: relative;
    /*display: inline-block;*/
    margin:0 15px 0;
}

#clr {
    position: absolute;
    vertical-align:top;
    right:5px;
    /*display: inline-block;*/
    font-size:20px;
    z-index: 1;
}


.create {
    color: #fff !important;
    background: #3fc3f4;
    padding: 10px 25px 10px;
    margin:10px 0 10px 0;
    font-weight: bold;
    border-radius: 50px;
    display: inline-block;
    border: none;
}

.create:hover {
    cursor:pointer;
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}

.delete{
    position: absolute;
    vertical-align:top;
    margin-top: 20px;
    margin-left: -35px;
/*    right:5px;*/
    /*display: inline-block;*/
    z-index: 1;
    display: none;
}

.groups{
    display:none;
}

.twogrp .g1{
    width: 45%;
    float:left;
}


.twogrp .g2{
    width: 45%;
    float:right; 
}

.threegrp .g1{
    width: 30%;
    float: left;
}


.threegrp .g2{
    width: 30%;
    display:inline-block;
    margin-left: 5%;
}

.threegrp .g3{
    width: 30%;
    float:right;
}


.fourgrp .g1{
    width: 20%;
    float:left;
}

.fourgrp .g2{
    width: 20%;
    display:inline-block;
    margin-left: 6.6%
}


.fourgrp .g3{
    width: 20%;
    display:inline-block;
    margin-left: 6.6%
}

.fourgrp .g4{
    width: 20%;
    float:right;
}

.team {
    display: block;
}

.twogrp{
    display:none;
}

.threegrp{
    display:none;
}

.fourgrp{
    display:none;
}